server:
  port: 81

spring:
  application:
    #    服务别名
    name: cloud-consumer-payment
  #     排除spring jdbc
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        service-name: ${spring.application.name}
