server:
  port: 3344

spring:
  application:
    name: cloud-config-center
  cloud:
    config:
      server:
        git:
          uri: http://qtrj.i234.me:30000/nonsense/spring-cloud-config.git
#          search-paths:
#            - test
          username: felixyin
          password: Ybkk1027
          skip-ssl-validation: true
      label: master

eureka:
  client:
    service-url:
      defaultZone: http://eureka7001.com:7001/eureka

