server:
  port: 81

spring:
  application:
    name: cloud-order-service

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://eureka7001.com:7001/eureka, http://eureka7002.com:7002/eureka

ribbon:
  ReadTimeout: 5000 # 设置建立链接超时时间
  ConnectTimeout: 5000 # 设置建立链接后，最长等待多长时间
logging:
  level:
    com.qtrj.springcloud.service.PaymentFeignService: debug
